<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!-- PC-Verbindung -->
    <add name="NotenrechnerDbPC"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-O9BMBCB\SQLEXPRESS;Initial Catalog=IPA-Notenrechner;Integrated Security=True;" />

    <!-- Laptop-Verbindung -->
    <add name="NotenrechnerDbLaptop"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=LAPTOP-6HK14R0A\SQLEXPRESS;Initial Catalog=IPA-Notenrechner;Integrated Security=True;" />
  </connectionStrings>
</configuration>
